.info {
    width: 45%;

    &__title {
        width: 40%;
        font-size: 18px;
        font-weight: 600;
        color: rgba(#464d62, .4);
        line-height: 1.67;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 28px;
    }

    &__name {
        text-align: center;    
        font-size: 72px;
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;
    }

}