.main-menu {

    &__list{
        display: flex;
        align-items: center;
        line-height: 1.875;
        margin: 0 -30px;
    }   

    &__link {
        display: block;
        padding: 30px 30px;
        border-bottom: 2px solid transparent;
        transition: 0.3s;

        &:hover {
           color: #5500f2;
            /* font-weight: 600; */
            border-bottom-color: #5500f2;
        }        
    }
}



.footer__menu-link {
    padding-top: 0;
    padding-bottom: 0;
}