.triangles {
  display: flex;
  margin-top: -126px;

}

.triangles__item {
  width: 100%;
  display: block;
  height: 126px;
  fill: #fff;
}

.triangles-bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__item {
    width: 100%;
    display: block;
    height: 126px;
    fill: #fff;

    @include desktop {
      height: 50px;
    }
  }
}