.values {
    background: url(../images/content/values-backpack.png)  22px 258px  no-repeat;
    height: 800px;
    padding: 151px 0 112px 0;

    &__container {
        /* padding-left: 34.06%; */
    }

    &__desc {
        width: 42.56%;
        /* margin-left: 34.06%; */
        margin-left: 504px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__text {
        color: rgba(#464d62, .5);
        font-weight: 600;
        margin-bottom: 78px;
    }
}