//- - var reviews = [['Ковальчук Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'dk'], ['Владимир Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'vs'], ['Ковальчук Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'dk'], ['Владимир Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'vs']]
                //-   flickity(ref="flickity" :options="flickityOptions").reviews__list
                //-     each item in reviews
                //-       li.reviews__item.carousel-cell
                //-         .reviews__post
                //-           .reviews__post-text #{item[2]}
                //-           .reviews__post-user
                //-             .reviews__user-pic.avatar
                //-               +image(`content/${item[3]}.jpg`, 'reviews__user-img')
                //-             .reviews__user-desc
                //-               .reviews__user-name #{item[0]}
                //-               .reviews__user-occ #{item[1]}